Krombox\MainBundle\Entity\PlaceHallImage:
    type:   entity
    table:  place_hall_images

    fields:
        id:
            type:       integer
            id:         true
            generator:  { strategy: AUTO }

#        place_id:
#            type:     integer

#        title:
#            type:       string
#            length:     255

        #file_name:      string
        path: string
        imageId: string
        updatedAt:
            type: datetime

    manyToOne:
#        place:
#            targetEntity:             Krombox\MainBundle\Entity\Place
#            inversedBy:               placeImages
#            joinColumn:
#                name:                 place_id
#                referencedColumnName: id
#                onDelete:             cascade
        hall:
            targetEntity:             Krombox\MainBundle\Entity\Hall
            inversedBy:               placeHallImages
            joinColumn:
                name:                 hall_id
                referencedColumnName: id
                onDelete:             cascade        
                #onPersist:            cascade
