<!-- Modal Logo -->
<div class="modal fade" id="logo_modal" tabindex="-1" role="dialog" aria-labelledby="logoModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Change your profile picture</h4>
      </div>
      <div class="modal-body" style="padding-top: 20px">
        <div id="logo-upload">
        <p id="logo_main">Please upload a photo of yourself. We recommend a high resolution image that is taken with a quality camera or smartphone in order to increase the quality of your profile.</p>
          <div class="form-group">
            <label for="logo"></label>
            {#{{ form_widget(form.logo) }}#}

            <p class="help-block">The file must be in JPEG, GIF for PNG format.</p>
          </div> 
        </form>
        </div>
        <div id="logo-crop">
            <p>Resize your logo and press upload.</p>
            <div id="logo-crop-container">
                <img id="logo-preview" />
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="crop-button">Crop</button>
      </div>
    </div>
    </div>
</div>