<!-- Modal Logo -->
<div class="modal fade" id="place_profile_modal" tabindex="-1" role="dialog" aria-labelledby="place_profileModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Change your profile picture</h4>
      </div>
      <div class="modal-body" style="padding-top: 20px">
        <div id="place_profile-upload">
        <p id="place_profile_main">Please upload a photo of yourself. We recommend a high resolution image that is taken with a quality camera or smartphone in order to increase the quality of your profile.</p>
          <div class="form-group">
            <label for="place_profile"></label>
            {#{{ form(place_profile_form) }}#}

            <p class="help-block">The file must be in JPEG, GIF for PNG format.</p>
          </div> 
        </form>
        </div>
        <div id="place_profile-crop">
            <p>Resize your place_profile and press upload.</p>
            <div id="place_profile-crop-container">
                <img id="place_profile-preview"/>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="place_profile-{% if isNew %}done{% else %}submit{% endif %}"
                data-url="">Done</button>
      </div>
    </div>
    </div>
</div>