<nav>
    <ul class="nav nav-tabs">
        <li><a href="{#{{ path('user_profile') }}#}/profile">{% trans %} my.profile {% endtrans %}</a></li>
        <li><a href="{{ path('user_places') }}">{% trans %} my.places {% endtrans %}</a></li>
        <li><a href="{{ path('user_events') }}">{% trans %} my.events {% endtrans %}</a></li>
        {#<li><a href="#">{% trans %} something {% endtrans %}</a></li>#}
    </ul>
</nav>  